.sect1{
    display: flex;
    justify-content: space-between;
    padding: 112px 0;
}
.number{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;

    h3{
        font-size: 48px;
        font-family: 'Space Grotesk', sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        color: $color-h;
    }

    p{
    font-size: 24px;
    font-family: 'Space Grotesk', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    color: $color-p;
    }
}
